.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #61dafb;
}

.user-input input {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  margin-bottom: 40px;
  width: 300px;
  text-align: center;
  outline: none;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  max-width: 800px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.seat {
  padding: 15px; 
  border-radius: 12px;
  width: 110px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat h3 {
  margin: 0;
  font-size: 22px;
}

.seat p {
  margin: 2px 0 0 0;
  font-size: 12px;
  font-weight: bold;
}



/* VIP Seats (Gold) */
.vip {
  background-color: #f1c40f;
  color: #2c3e50;
  border: 2px solid #d35400; 
}

.vip:hover {
  background-color: #f39c12;
  transform: scale(1.05);
  box-shadow: 0 0 15px #f1c40f; 
}

.normal {
  background-color: #3498db; 
  color: #fff;
}

.normal:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}


.booked {
  background-color: #e74c3c !important; 
  color: white !important;
  cursor: not-allowed;
  opacity: 0.8;
  border: none !important;
}

.customer-name {
  margin-top: 5px;
  font-size: 10px;
  color: #fff; 
  background-color: rgba(0,0,0,0.3); 
  padding: 2px 5px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}